body {
    text-align: center;
    font-family: Arvo, serif;
    background: #000000;
    color: #ecf0f1;

}

.symbol {
    color: #f1c40f;
    font-weight: 1000;
}
.quote {
    color: #f1c40f;
    font-weight: 700;
    font-style: italic;
}

h1 {
    color: #16a085;

}

